.container {
    background-color: yellow;
    max-width: 300px;
    min-width: 100px;
    width: 80% px; 
    /* height: auto; */
    height: 200px;
/* 
    max-height: ;
    min-height: ;
     */
    overflow: visible; /* visible, hidden, scroll, auto */
}